workshop-1/node_modules
workshop-1/package-lock.json

workshop-2/protractor/package-lock.json
workshop-2/cypress/node_modules
workshop-2/cypress/package-lock.json
workshop-2/protractor/tour-of-heroes-cli/node_modules
workshop-2/protractor/tour-of-heroes-cli/package-lock.json
workshop-2/webdriver-io/node_modules
workshop-2/webdriver-io/package-lock.json
workshop-2/webdriver-io/errorShots
workshop-2/nightwatchjs/reports
workshop-2/cypress/cypress/videos/*.mp4
workshop-2/cypress/cypress/cypress/videos/*.mp4
workshop-2/cypress/cypress/screenshots/*.png
workshop-2/cypress/cypress/screenshots/*.png

workshop-3/ratp-pwa/lighthouse/node_modules
workshop-3/ratp-pwa/lighthouse/package-lock.json
workshop-3/ratp-pwa/lighthouse/*.html

workshop-4/cypress/node_modules
workshop-4/gremlins-webdriver/errorShots

workshop-4/gremlins-webdriver/node_modules

**/*.DS_Store
**/*/node_modules
