workshop-1/node_modules
workshop-1/package-lock.json

workshop-2/cypress/node_modules
workshop-2/cypress/package-lock.json
workshop-2/protractor/tour-of-heroes-cli/node_modules
workshop-2/protractor/tour-of-heroes-cli/package-lock.json
workshop-2/webdriver-io/node_modules
workshop-2/webdriver-io/package-lock.json
workshop-2/webdriver-io/errorShots
workshop-2/nightwatchjs/reports

workshop-3/ratp-pwa/lighthouse/node_modules
workshop-3/ratp-pwa/lighthouse/package-lock.json

**/*.DS_Store
**/*/node_modules
